* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, lightcyan, honeydew);
    color: black;
    line-height: 20px;
    width: 100%;
    height: 100%;
}

header {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    color: white;
    padding: 40px;
    text-align: center;
    box-shadow: 0px 2px 10px black;
    opacity: 0.9;
    width: 100%;
    border-bottom: 1px solid #3cb371;
}

header h1 {
    font-size: 36px;
    letter-spacing: 1px;
}

main {
    backdrop-filter: blur(10px);
    width: 900px;
    margin: 40px auto;
    padding: 30px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid gray;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 26px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 3px solid cadetblue;
    color: cadetblue;
}

.member {
    gap: 20px;
    display: flex;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-left: 6px solid mediumseagreen;
    border-right: 1px solid mediumseagreen;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    transition: all 0.3s;
    color: white;
    overflow: hidden;
}

.member img {
    width: 110px;
    height: 110px;
    margin-left: 20px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 2px solid mediumseagreen;
    flex-shrink: 0;
    box-shadow: 2px 3px 5px mediumseagreen;
}


.member-info {
    padding: 20px;
    flex: 1;
}

.member-info p {
    margin-bottom: 6px;
    font-size: 16px;
}


.member:hover {
    background-color: rgba(240, 240, 240, 0.9);
    transform: translateY(-5px);
    box-shadow: 0px 6px 15px gray;
    color: black;
}

.member strong {
    color: mediumseagreen;
}

#about p {
    font-size: 17px;
    text-align: justify;
    line-height: 25px;
    background: linear-gradient(to right, azure, honeydew);
    padding: 20px;
    border-left: 5px solid cadetblue;
    border-right: 1px solid cadetblue;
    border-radius: 6px;
}

footer {
    background: linear-gradient(to right, cadetblue, lightseagreen);
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    font-size: 14px;
    opacity: 0.9;
    width: 100%;   
}

video {
    position: fixed ;
    top: 0;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;   
}

.projectDsgn {
    color: white;
    text-decoration: none;
}

.projectDsgn:hover {
    text-decoration: underline;
    color: green;
}


