* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, lightcyan, honeydew);
    color: black;
    line-height: 20px;
    width: 100%;
    height: 100%;
}

header {
    background: linear-gradient(to right, cadetblue, lightseagreen);
    position: sticky;
    color: white;
    padding: 40px 20px;
    text-align: center;
    box-shadow: 0px 4px 10px rgb(0, 0, 0);
    opacity: 0.9;
    width: 100%;
}

header h1 {
    font-size: 36px;
    letter-spacing: 1px;
}

main {
    backdrop-filter: blur(10px);
    width: 900px;
    margin: 40px auto;
    padding: 30px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid gray;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 26px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 3px solid cadetblue;
    color: cadetblue;
}

.member {
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-left: 6px solid mediumseagreen;
    border-right: 1px solid mediumseagreen;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    padding: 20px 25px;
    margin-bottom: 20px;
    border-radius: 8px;
    transition: all 0.3s;
    color: white;
}

.member:hover {
    background-color: rgba(240, 240, 240, 0.9);
    transform: translateY(-5px);
    box-shadow: 0px 6px 15px gray;
    color: black;
}

.member p {
    margin-bottom: 5px;
    font-size: 16px;
}

.member strong {
    color: mediumseagreen;
}

#about p {
    font-size: 17px;
    background: linear-gradient(to right, azure, honeydew);
    padding: 20px;
    border-left: 5px solid cadetblue;
    border-right: 1px solid cadetblue;
    border-radius: 6px;
}

footer {
    background: linear-gradient(to right, cadetblue, lightseagreen);
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    font-size: 14px;
    opacity: 0.9;
    width: 100%;
    
}video {
    position: fixed ;
    top: 0;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}
